{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="user-container">
    <h2 class="title">로그인</h2>
    <p class="description">아이디와 비밀번호를 입력하고 로그인하세요</p>

    <form class="login" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label class="label-width" for="user-id">아이디{{ login.email }}</label>
            <input type="text" id="user-id" name="username" required>
        </div>
        <div>
            <label class="label-width" for="user-pw">비밀번호{{ login.password }}</label>
            <input type="password" id="user-pw" name="password" required>
        </div>
        <input class="submit-button"  type="submit" value="로그인">
    </form>
    </div>
</div>
{% endblock %}