{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column bd-highlight">
    <div class="p-2 bd-highlight">
        <h1 class="main-title">
            {{ title }}
        </h1>
    </div>
    <div class="p-2 bd-highlight">
        <a class="main-button btn" href="{% url 'blog:list' %}">BLOG</a>
    </div>
    <div class="p-2 bd-highlight">
        <a class="main-button btn" href="{% url 'users:register' %}">REGISTER</a>
    </div>
    <div class="p-2 bd-highlight">
        <a class="main-button btn" href="{% url 'users:login' %}">LOGIN</a>
    </div>
</div>

{% endblock %}