{% extends 'base.html' %}

{% block content %}
    <div class='main-title'>
        블로그 게시판 첫 화면입니다.
    </div>
    <a href="{% url 'blog:write' %}" class="btn btn-outline-secondary">글 작성</a>
    {% if posts %}
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <td>번호</td>
                    <td>제목</td>
                    <td>내용</td>
                    <td>작성자</td>
                    <td>작성일시</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>번호</td>
                    <td><a href="{% url 'blog:detail' post_id=post.id %}" class="btn">{{ post.title }}</a></td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.writer }}</td>
                    <td>{{ post.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>작성된 게시글이 없습니다.</p>
    {% endif %}

{% endblock %}