{% extends 'base.html' %}

{% block content %}
    {% if posts %}
        <h2>검색 결과</h2>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.writer }}</td>
                    <td>{{ post.hit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
{% endblock %}