{% extends 'base.html' %}
{% load blog_filter %}
{% block content %}

<h1 class="post-title pb-2">게시판 페이지</h1>

<div class="post-top">
    <!-- 게시글 수 세기 -->
    <div class="post-count">
        {% if post_count.count > 0 %}
        <p><strong>{{ post_count.count }}개</strong>의 게시글이 있습니다.</p>
        {% else %}
        <p><strong>0개</strong>의 게시글이 있습니다.</p>
        {% endif %}
    </div>
    <!-- 태그 검색 -->
    <div class="search-tag">
        <form id="search-form" action="" method="get">
            <input id="search-input" type="text" placeholder="태그를 검색해주세요"/>
            <input type="submit" value="search">
        </form>
            <script>
                const form = document.querySelector('#search-form')
                const input = document.querySelector('#search-input')
                input.addEventListener('input', () => {
                    inputValue = input.value
                    s = `{% url 'blog:post-search' tag="value"%}`
                    console.log(s)
                    s = s.replace('value', inputValue)
                    console.log(s)
                    form.action = s
                });
            </script>
    </div>
</div>


    <!-- 게시글 보이기 -->
    {% if posts %}
        <table class="table table-bordered mt-2">
            <thead class="table-light">
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일시</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ posts.paginator.count|sub:posts.start_index|sub:forloop.counter0|add:1}}</td>
                    <td>
                        <a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.title }}</a>
                        <!-- 댓글 개수 표시 -->
                        {% if post.comment_set.count > 0 %}
                        <span class="text-success small ml-2">{{ post.comment_set.count }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.writer }}</a></td>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.created_at|date:"Y-m-d" }}</a></td>
                    <td>{{ post.hit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>작성된 게시글이 없습니다.</p>
    {% endif %}
</div>

<!-- 페이징처리시작 -->
    <ul class="pagination justify-content-center" id="page_button">

        <!-- 이전페이지 -->
        {% if posts.has_previous %}        
            <a class="page-link" href="?page={{ posts.previous_page_number }}"><img src="/static/img/prev.png" width="30" height="24" alt="다음"></a>
        {% else %}
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="/static/img/prev.png" width="30" height="24" alt="다음"></a>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in posts.paginator.page_range %}
            {% if page_number == posts.number %}
                <a class="num active" href="?page={{ page_number }}">{{ page_number }}</a>
            {% else %}
                <a class="num" href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}

        <!-- 다음페이지 -->
        {% if posts.has_next %}
        
            <a class="page-link" href="?page={{ posts.next_page_number }}"><img src="/static/img/next.png" width="30" height="24" alt=""></a>
        {% else %}
        
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="/static/img/next.png" width="30" height="24" alt=""></a>
        {% endif %}
    </ul>

<!-- 페이징처리 끝 -->

{% endblock %}