{% extends 'base.html' %}
{% block content %}

<h1 class="post-title pb-2">게시판 페이지</h1>

<div class="post-top">

    <!-- 게시글 수 세기 -->
    <div class="post-count">
        {% if post_obj.count > 0 %}
        <p><strong>{{ post_obj.count }}개</strong>의 게시글이 있습니다.</p>
        {% else %}
        <p><strong>0개</strong>의 게시글이 있습니다.</p>
        {% endif %}
    </div>

    <!-- 태그 검색 -->
    <div class="search-tag">
        <form id="search-form" action="" method="get">
            <input id="search-input" type="text" placeholder="태그를 검색해주세요"/>
            <input type="submit" value="search">
        </form>
            <script>
                const form = document.querySelector('#search-form')
                const input = document.querySelector('#search-input')
                input.addEventListener('input', () => {
                    inputValue = input.value
                    s = `{% url 'blog:post-search' tag="value"%}`
                    console.log(s)
                    s = s.replace('value', inputValue)
                    console.log(s)
                    form.action = s
                });
            </script>
    </div>
</div>


    <!-- 게시글 보이기 -->
    <table class="table table-bordered mt-2">
        <thead class="table-light">
                {% if posts %}
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일시</td>
                    <td>이미지 유/무</td>
                    <td>조회수</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>
                        {{ post.id }}
                    </td>
                    <td>
                        <a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.title }}</a>
                        <!-- 댓글 개수 표시 -->
                        {% if post.comment_set.count > 0 %}
                        <span class="text-success small ml-2">{{ post.comment_set.count }}</span>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.writer }}</a></td>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.created_at|date:"Y-m-d" }}</a></td>
                    <td>
                        {% if post.imgfile %}
                        <span class="badge bg-secondary py-1">O</span>
                        {% else %}
                        <span class="badge bg-warning py-1">X</span>
                        {% endif %}
                    </td>
                    <td>{{ post.hit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>작성된 게시글이 없습니다.</p>
    {% endif %}

    <!-- 목록 하단 글작성 버튼 -->
    <div>
        <a href="{% url 'blog:write' %}" class="btn btn-outline-secondary float-end">글작성</a>
    </div>
</div>



<!-- 페이징처리시작 -->
    <ul class="pagination justify-content-center" id="page_button">
        <!-- 이전페이지 -->
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}"><img src="/static/img/prev.png" width="30" height="24" alt="이전"></a>
        </li>   
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><img src="/static/img/prev.png" width="30" height="24" alt="이전"></a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in posts.paginator.page_range %}
        {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
            {% if page_number == posts.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">
                    {{ page_number }}
                </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}"><img src="/static/img/next.png" width="30" height="24" alt="다음"></a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <img src="/static/img/next.png" width="30" height="24" alt="다음"></a>
        </li>
        {% endif %}
    </ul>

<!-- 페이징처리 끝 -->

{% endblock %}