{% extends 'base.html' %}

{% block content %}
    <h2 class="write-title">게시글 작성 페이지</h2>
    <form class="write-form" action="{% url 'blog:write' %}" method="post" enctype="multipart/form-data">
        <button class="post-write-button mb-2">등록</button>
            <div class="form-group">
                <label for="imgfile">이미지 : </label>
                <input type="file" class="form-control" name="imgfile" id="imgfile">
            </div>
            <br>
    {% csrf_token %}
    {{ form.as_p }}
    </form>
{% endblock %}